.navbar-wrapper {
    width: 90vw;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.name {
    font-weight: 600;
}

.sidenav {
    position: fixed;
    right: 5vw;
    top: 0;
}

.links-wrapper {
    list-style: none;
    margin-top: 110px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links-wrapper li {
    margin: 10px 0;
}

.sidenav .vertical-line {
    border-left: 1.8px solid black;
    height: 100px;
    z-index: 1;
}

.navbar-wrapper button {
    text-decoration: none;
    padding: 10px;
    font-family: "Open Sans";
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
    font-size: 12px;
    background-color: transparent;
    outline: none;
    border: 0px;
    cursor: pointer;
}

.navbar-wrapper button p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: 0;
}

button:active {
    color: black;
}

button:hover {
    opacity: 1;
}