.work-wrapper {
    width: 68vw;
    padding-top: 15vh;
    margin-bottom: 10vh;
}

.code-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18vh;
}

.code-wrapper h1 {
    text-align: left;
    width: 65vw;
}

span#code-title {
    padding-right: 50px; 
    background: #FFF;
}

.design-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.design-wrapper h1 {
    text-align: right;
    width: 65vw;
}

span#design-title {
    padding-left: 50px;
    background: #FFF;
}

.work-wrapper h1 {
    font-size: 2.5rem;
    border-bottom: 1px solid lightgray;
    line-height: 0.1em;
    margin-bottom: 10vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.8rem;
    justify-items: center;
    grid-auto-rows: 40vh;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    border: none;
}

.project:hover .content {
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out;
}

.content {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    padding: 2rem;
    color: white;
}

.content h4 {
    font-weight: bolder;
    font-size: 20px;
}

.content p {
    font-size: 14px;
}

.card-btn {
    width: 120px;
    border-radius: 15px;
    margin-top: 1rem;
}

.work-wrapper img {
    width: 80%;
    height: 80%;
    border-radius: 15px;
    object-fit: cover;
    outline: none;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.3);
}

.img-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0;
}