body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    animation: fadeIn 2.5s ease-in 0s;
}

img { max-width: 100%; }

ul { list-style: none; }

li { display: inline-block; list-style: none; }

h1 { font-size: 4vw; margin: 0; padding: 0;}

h2 { font-size: 1.8vw; color: #718c6a; }

#nav {
    width: 100%;
    top: 0;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    background-color: none;
}

.nav_links {
    list-style: none;
    margin: 0 40px 0 0;
}

.nav_links li, a {
    text-decoration: none;
    padding: 0px 15px 6px 15px;
    font-size: 18px;
    cursor: pointer;
    color: rgb(249, 255, 242);
    position: relative;
}

.nav_links a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    background: #718c6a;
    transition: 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    height: 3px;
}

.nav_links a:hover:after {
    width: 100%;
    left: 0;
}

.main-about {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#title-about {
    list-style: none;
    padding: 0;
    animation: fadeInLeft 2.2s ease-in-out 0s 1;
}

#title-about h2 {
    margin-top: 0;
}

#title {
    color: white;
}

#left-bracket-green, #right-bracket-green {
    color: #718c6a;
}

li #title-about {
    display: inline-block;
}

#text-background {
    padding-top: 100px;
    margin: 0;
    top: 0;
    height: 35vh;
    background-color: #b0c38d;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#carousel-background {
    width: 100%;
    margin-top: 400px;
    display: flex;
    justify-content: center;
}

#carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#carousel-about {
    position: relative;
    font-size: 25px;
    color: #b0c38d;;
}

#carousel {
    overflow: hidden;
    width: 1270px;
    height: 402px;
    position: relative;
    border-radius: 10px;
}

#carousel-image-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    transition: 0.5s left;
}

.carousel-image {
    margin: 0 10px 0 10px;
}

.carousel-image img {
    min-width: 400px;
    height: 400px;
    border-radius: 10px;
    filter: brightness(120%);
}

#carousel-controls {		
    position: absolute;
    top: 50%;
    left: 1.5%;
    width: 96%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.hidden {
    visibility: hidden;
}

#button-next,
#button-previous {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}