* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    -webkit-text-size-adjust:100%;
}

img { max-width: 100%; }

ul { list-style: none; }

li { display: inline-block; list-style: none; }

a { text-decoration: none; color: black; }

p { font-family: 'Open Sans'; }

#left-bracket-red, #right-bracket-red, #title-red {
    color: var(--red);
}

#left-bracket-white, #right-bracket-white, #title-white {
    color: white;
}

@media only screen and (min-width: 1200px) {
    h1 { font-size: 44px; }
    h2 { font-size: 38px;}
    h3 { font-size: 20px;}
    p { font-size: 15px; }
    .section { padding: 80px 10vw 0 10vw; }
    .home { flex-direction: row; align-items: flex-end; }
    .home > #me-home { width: 470px; }
    .home #text-home { padding: 0 0 40vh 2vw; width: 50%; }
    .home #text-home > p { font-size: 18px; }
    .about .card { flex-direction: row; }
    .about .card .bcg { width: 80%; }
    .about .card .icon { width: 20%; min-height: 150px;}
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    h1 { font-size: 38px; }
    h2 { font-size: 28px; }
    h3 { font-size: 18px;}
    p { font-size: 14px; }
    .section { padding: 80px 10vw 0 10vw; }
    .home { flex-direction: row; align-items: flex-end; }
    .home > #me-home { width: 400px; }
    .home #text-home { padding: 0 0 40vh 2vw; width: 50%; }
    .about .card { flex-direction: row; }
    .about .card .bcg { width: 80%; }
    .about .card .icon { width: 20%; min-height: 150px;}
}

@media only screen and (min-width : 640px) and (max-width: 768px) {
    h1 { font-size: 30px; }
    h2 { font-size: 24px; }
    h3 { font-size: 20px;}
    p { font-size: 16px; }
    .section { padding: 80px 4vw 0 4vw; }
    .home { flex-direction: column-reverse; align-items: center; }
    .home > #me-home { width: 360px; }
    .home #text-home { margin-top: 80px; width: 75%; text-align: center; }
    .home button { display: hidden; }
    .about .card { flex-direction: column; }
    .about .card .bcg { width: 100%; }
    .about .card .icon { width: 100%; min-height: 80px;}
    .blob { transform: scale(1.5); }
}

@media screen and (max-device-width : 640px) {
    h1 { font-size: 28px; }
    h2 { font-size: 22px; }
    h3 { font-size: 19px;}
    p { font-size: 16px; }
    .section { padding: 80px 4vw 0 4vw; }
    .home { flex-direction: column-reverse; align-items: center; text-align: center; }
    .home > #me-home { width: 300px; }
    .home #text-home { margin-top: 80px; width: 75%; }
    .home button { display: hidden; }
    .about .card { flex-direction: column; }
    .about .card .bcg { width: 100%; }
    .about .card .icon { width: 100%; min-height: 80px;}
    
}

:root {
    --red: #d35b3f;
    --pink: #ffebdb;
    --lightpink: #fdf4ed; 
    --orange: #f0c27b;
    --blue: #26424c;
    --gray: #beb2b2;
}

#nav {
    width: 100%;
    height: 80px;
    background: var(--pink);
    position: fixed;
    padding: 0 8vw 0 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    transition: top 0.3s;
}

#nav > a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#nav > a img {
    max-width: 40px;
    margin: 1em;
    filter: invert(100%);
}

#nav > a li:last-child {
    font-weight: 500;
}

#nav > .nav_links {
    list-style: none;
}

#nav > .nav_links li, .nav_links a {
    padding: 0px 15px 0 15px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

#nav > .nav_links a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -9px;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    background: #d35b3f;
    transition: 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    height: 3px;
}

#nav > .nav_links a:hover:after {
    width: 100%;
    left: 0;
}

#nav > .nav_links a:active {
    width: 100%;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.wrapper > a {
    position: absolute;
}

.section {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.section > a { position: absolute; top: 0; left: 0; }

.wrapper li > p {
    color: var(--blue);
    padding-bottom: 10px;
}

.blob {
    position: absolute;
    z-index: 0;
}

.title-about li > p, .title-projects li > p, .title-contact li > p {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
}

.home {
    height: 100%;
    background-color: var(--pink);
    display: flex;
    justify-content: flex-start;
    animation: fadeIn 2.5s ease-in 0s;
}

.home > .blob.two {
    max-width: 65vw;
    left: 0;
    bottom: -70px;
}

.home > .blob.three {
    max-width: 45vw;
    right: 0;
    top: 0;
}

.home > #me-home {
    animation: fadeInLeft 2.8s ease-in-out 0s 1;
    z-index: 1;
}

.home #text-home {
    right: 0;
    animation: fadeInUp 2.2s ease-in-out 0s 1;
    z-index: 1;
}

.home #text-home > p {
    margin: 15px 0 15px 0;
    font-family: 'Open Sans';
    font-weight: 400;
}

.home #text-home > #title-home {
    padding: 0;
}

.home button {
    height: 80px;
    width: 80px;
    position: absolute;
    right: 10vw;
    animation: upDown 2s infinite;
    border: none;
    border-radius: 100px;
    background-color: var(--red);
}

.home button img {
    width: 40%;
    height: auto;
    filter: invert(100%);
}

.home button:hover {
    cursor: pointer;
    transition: all 0.2s ease 0s;
    background: #ef8888;
}

.about {
    width: 100%;
    background-color: var(--lightpink);
    display: inline-block;
    flex-wrap: wrap;
    padding-top: 17vh;
}

.about .blob.seven {
    max-width: 100vw;
    left: 0;
    bottom: 0;
    opacity: 0.93;
}

.about .blob.eight {
    max-width: 100vw;
    bottom: 7%;
    left: 0;
}

.about .title-about {
    padding-bottom: 5vh;
    z-index: 1;
    position: relative;
}

.about #content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    padding-bottom: 20vh;
}

.about .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.about .card {
    padding: 0;
    margin: 2vh 0 2vh 0;
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    border-radius: 5px;
    opacity: 0.9;
    overflow: auto;
    transition: transform 0.4s ease;
}

.about .card .bcg {
    min-height: 150px;
    background-color: white;
    border-radius: 0 5px 5px 0;
    padding: 2.5% 5% 2.5% 5%;
}

.about .card .bcg h3 {
    padding-bottom: 8px;
    color: #ffa55a;
}

.about .card .bcg p, .about .card .bcg a {
    font-family: 'Open Sans';
    font-weight: 400;
    display: inline;
    padding: 0;
}

.about .card .bcg p.emphasis {
    color: var(--red);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
}

.about #content .icon {
    background-color: var(--gray);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about #content .icon img {
    max-width: 55px;
    filter: invert(100%);
}

.projects {
    display: inline-block;
    flex-wrap: wrap;
    background-color: var(--pink);
    padding-top: 17vh;
}

.projects > .title-projects {
    padding-bottom: 5vh;
    z-index: 1;
    position: relative;
}

.projects > .blob.four {
    max-width: 65vh;
    top: 5%;
    left: 0;
    opacity: 0.8;
}

.projects > .blob.five {
    max-width: 45vw;
    right: -10px;
    bottom: -23px;
}

.projects > .blob.six {
    max-width: 16vw;
    right: 25%;
    bottom: 4%;
    opacity: 0.8;
}

.projects #cards {
    position: relative;
    top: 0;
    margin-bottom: 4vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.projects .card {
    margin: 0.8em;
    max-width: 350px;
    min-height: 160px;
    max-height: 200px;
    position: relative;
    transition: transform 0.5s ease;
    border-radius: 5px;
    background-color: gray;
    overflow: auto;
}

.projects .card > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 2em;
    width: 100%;
    height: 100%;
    color: white;
}

.projects .card > img {
    position: relative;
    display: block;
    opacity: 0.3;
    width: 100%;
    min-height: 160px;
    max-height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.projects .card > a .card-text-container {
    max-height: 0;
    opacity: 0;
    text-align: center;
}

.projects .card > a h3 {
    text-align: center;
    font-weight: 700;
}

.projects .card > a .card-text-container p {
    font-family: 'Open Sans';
    font-weight: 300;
    color: white;
    margin: 0;
}

.projects .card:hover {
    transform: scale(1.06);
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.projects .card:hover .card-text-container {
    opacity: 1;
    max-height: 9em;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.projects .card:hover .card-img {
    filter: brightness(0.2);
    box-shadow: 0 4px 10px rgba(0,0,0,0.35);
}

.contact {
    min-height: 50vh;
    width: 100%;
    background-color: var(--lightpink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact #buttons {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact #buttons a {
    width: 80px;
    height: 80px;
    background-color: var(--blue);
    border: none;
    border-radius: 100px;
    margin: 15px;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact #buttons img {
    max-width: 30px;
    filter: invert(100%);
}

.contact #buttons a:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0,0,0,0.35);
}

.credits {
    height: 15vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
}

.credits p {
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 12px;
    color: black;
}

@keyframes upDown {
    0%, 100% {
      bottom: 20px;
    }
    60% {
      bottom: 45px;
    }
}

@keyframes fadeIn {
    0%, 50% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

@keyframes fadeInUp {
    0%, 10% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
}

@keyframes fadeInLeft {
    0%, 25% {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
}