* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    animation: fadeIn 2.5s ease-in 0s;
}

img { max-width: 100%; }

ul { list-style: none; }

li { display: inline-block; list-style: none; }

p { font-size: 16px; }

a { text-decoration: none; color: black; }

@media only screen and (min-width: 1200px) {
    h1 { font-size: 44px; }
    h2 { font-size: 38px;}
    h3 { font-size: 22px;}
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    h1 { font-size: 32px; }
    h2 { font-size: 28px; }
    h3 { font-size: 18px;}
}

@media only screen and (min-device-width : 600px) and (max-device-width: 768px){
    h1 { font-size: 22px; }
    h2 { font-size: 18px; }
    h3 { font-size: 16px;}
}

@media only screen and (max-device-width : 600px) {
    h1 { font-size: 17px; }
    h2 { font-size: 18px; }
    h3 { font-size: 16px;}
}

#left-bracket-red, #right-bracket-red, #title-red {
    color: var(--red);
}

#left-bracket-white, #right-bracket-white, #title-white {
    color: white;
}

:root {
    --red: #d35b3f;
    --pink: #ffebdb;
    --lightpink: #fdf4ed; 
    --orange: #f0c27b;
    --blue: #26424c;
    --gray: #beb2b2;
}

#nav {
    width: 100%;
    height: 90px;
    background: var(--pink);
    position: fixed;
    padding: 1vh 8vw 0 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    transition: top 0.3s;
}

#nav #so-logo {
    max-width: 50px;
    filter: invert(100%);
}

#nav > .nav_links {
    list-style: none;
}

#nav > .nav_links li, .nav_links a {
    padding: 0px 15px 8px 15px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

#nav > .nav_links a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    background: #d35b3f;
    transition: 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    height: 3px;
}

#nav > .nav_links a:hover:after {
    width: 100%;
    left: 0;
}

#nav > .nav_links a:active {
    width: 100%;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.wrapper > a {
    position: absolute;
}

.section {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.wrapper li > p {
    color: var(--blue);
    padding-bottom: 10px;
}

.home {
    height: 100%;
    background-color: var(--pink);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

.home > #blob2 {
    max-width: 65vw;
    position: absolute;
    left: 0;
    bottom: -70px;
    z-index: 0;
}

.home > #blob3 {
    max-width: 45vw;
    position: absolute;
    right: 0;
    top: -8%;
}

.home > #me-home {
    animation: fadeInLeft 2.8s ease-in-out 0s 1;
    z-index: 1;
}

@media only screen and (min-width: 1200px) {
    .home > #me-home { width: 600px; margin: 0 -8vw 0 10vw; }
    
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .home > #me-home { width: 500px; margin: 0 -8vw 0 10vw; }
}

@media only screen and (min-device-width : 600px) and (max-device-width: 768px){
    .home > #me-home { width: 300px; margin: 0 -4vw 0 5vw; }
}

@media only screen and (max-device-width : 600px) {
    .home > #me-home { width: 200px; margin: 0 -4vw 0 5vw; }
}

.home #text-home {
    width: 43%;
    padding: 0 0 40vh 5vh;
    right: 7%;
    animation: fadeInUp 2.2s ease-in-out 0s 1;
    z-index: 1;
}

.home #text-home > p {
    font-size: 1.3vw;
    margin: 15px 0 15px 0;
    font-family: 'Open Sans';
    font-weight: 400;
}

.home #text-home > #title-home {
    padding: 0;
}

.home #down-btn {
    height: 80px;
    width: 80px;
    position: absolute;
    right: 10vw;
    animation: upDown 2s infinite;
}

.home #carrot {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 100px;
    background-color: var(--red);
}

.home #down-btn img {
    width: 40%;
    height: auto;
    filter: invert(100%);
}

.home #carrot:hover {
    cursor: pointer;
    transition: all 0.2s ease 0s;
    background: #ef8888;
}

.about {
    width: 100%;
    background-color: var(--lightpink);
    display: inline-block;
    flex-wrap: wrap;
    padding: 17vh 0 0 0;
}

.about #blob7 {
    max-width: 100vw;
    position: absolute;
    bottom: 0;
    opacity: 0.93;
    z-index: 0;
}

.about #blob8 {
    max-width: 100vw;
    position: absolute;
    bottom: 7%;
    z-index: 0;
}

.about .title-about {
    padding: 0 0 5vh 9vw;
    z-index: 1;
    position: relative;
}

.about #content {
    padding: 0 12vw 0 12vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    padding-bottom: 20vh;
}

.about .card:hover {
    transform: scale(1.07);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.about .card {
    padding: 0;
    margin: 2vh;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    border-radius: 5px;
    opacity: 0.9;
    overflow: auto;
    transition: transform 0.4s ease;
}

.about .card .bcg {
    background-color: white;
    border-radius: 0 5px 5px 0;
    padding: 2.5% 5% 2.5% 5%;
    width: 80%;
    min-height: 150px;
}

.about .card .bcg h3 {
    padding-bottom: 8px;
    color: #ffa55a;
}

.about .card .bcg p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    display: inline;
}

.about .card .bcg a {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    display: inline;
    padding: 0;
    font-style: italic;
}

.about .card .bcg p.emphasis {
    color: var(--red);
    font-family: 'Montserrat';
    font-size: 16px;
}

.about #content .icon {
    width: 20%;
    min-height: 150px;
    background-color: var(--gray);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.about #content .icon img {
    width: 30%;
    filter: invert(100%);
}

.projects {
    display: inline-block;
    flex-wrap: wrap;
    background-color: var(--pink);
    padding: 17vh 0 0 0;
}

.projects > .title-projects {
    padding: 0 9vw 5vh 9vw;
    z-index: 1;
    position: relative;
}

.projects > #blob4 {
    max-width: 65vh;
    position: absolute;
    top: 5%;
    left: 0;
    opacity: 0.8;
    z-index: 0;
}

.projects > #blob5 {
    max-width: 45vw;
    position: absolute;
    right: -8%;
    bottom: -8%;
    z-index: 0;
}

.projects > #blob6 {
    max-width: 16vw;
    position: absolute;
    right: 25%;
    bottom: 4%;
    opacity: 0.8;
    z-index: 0;
}

.projects #cards {
    position: relative;
    top: 0;
    margin: 0 9vw 4vh 9vw;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.projects .card {
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    margin: 0.8em;
    max-width: 350px;
    max-height: 180px;
    position: relative;
    transition: transform 0.5s ease;
    overflow: hidden;
    border-radius: 5px;
    background-color: gray;
}

.projects .card > a {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 2em;
    width: 100%;
    height: 100%;
    color: white;
}

.projects .card > img {
    position: relative;
    display: block;
    opacity: 0.3;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.projects .card > a .card-text-container {
    max-height: 0;
    opacity: 0;
    text-align: center;
}

.projects .card > a h3 {
    text-align: center;
}

.projects .card > a .card-text-container p {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 15px;
    color: white;
    margin: 0;
}

.projects .card:hover {
    transform: scale(1.06);
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.projects .card:hover .card-text-container {
    opacity: 1;
    max-height: 9em;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.projects .card:hover .card-img {
    filter: brightness(0.2);
    box-shadow: 0 4px 10px rgba(0,0,0,0.35);
}

.contact {
    min-height: 50vh;
    width: 100%;
    background-color: var(--lightpink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact #buttons {
    width: 50%;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact #buttons button {
    width: 80px;
    height: 80px;
    background-color: var(--blue);
    border: none;
    border-radius: 100px;
    margin: 15px;
    transition: all 0.2s ease;
}

.contact #buttons img {
    max-width: 30px;
    filter: invert(100%);
}

.contact #buttons button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0,0,0,0.35);
}

.credits {
    height: 15vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
}

.credits p {
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 12px;
    color: var(--blue);
}

@keyframes upDown {
    0%, 100% {
      bottom: 20px;
    }
    60% {
      bottom: 45px;
    }
}

@keyframes fadeIn {
    0%, 50% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

@keyframes fadeInUp {
    0%, 10% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
}

@keyframes fadeInLeft {
    0%, 25% {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
}